<ng-container [ngSwitch]="template">
  <ng-container *ngSwitchCase="LoaderTemplate.ContentOne">
    <app-loader 
      [theme]="{
        height: '100%'
      }"
    ></app-loader>
  </ng-container>

  <ng-container *ngSwitchCase="LoaderTemplate.ContentTwo">
    <app-loader 
      [theme]="{
        height: '75%'
      }"
    ></app-loader>

    <div
      [style.height.%]="20"
      [style.width.%]="100"
      class="columns"
    >
      <app-loader 
        [theme]="{
          width: '48.75%'
        }"
      ></app-loader>

      <app-loader 
        [theme]="{
          width: '48.75%'
        }"
      ></app-loader>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="LoaderTemplate.ContentThree">
    <div 
      [style.height.%]="100"
      [style.width.%]="100"
      class="columns"
    >
      <app-loader 
        [theme]="{
          width: '30%'
        }"
      ></app-loader>

      <app-loader 
        [theme]="{
          width: '30%'
        }"
      ></app-loader>

      <app-loader 
        [theme]="{
          width: '30%'
        }"
      ></app-loader>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="LoaderTemplate.TableRows">
    <app-loader 
      *ngFor="let row of rows; let first = first; let last = last;"
      [theme]="{
        width: '100%',
        height: '1rem',
        padding: first ? '1rem 0 0.5rem' : last ? '0.5em 0 1rem' : '0.5rem 0'
      }"
    ></app-loader>
  </ng-container>
</ng-container>
