:host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div.three-column {
    height: 70%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}