:host {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "header"
  "content";

  .header {
    grid-area: header;
    height: auto;
    mat-toolbar {
      height: 42px;
    }
  }

  .content {
    grid-area: content;
    overflow: overlay;
    
    background: rgba($color: #000000, $alpha: 0.08);

    .items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: auto;
      grid-gap: 1rem;
  
      padding: 1rem;
  
      mat-card {
        aspect-ratio: 3 / 2;
        display: flex;
        flex-direction: column;

        mat-card-title-group {
          flex-shrink: 0;

          mat-card-title {
            font-size: 20px;
          }
        }

        mat-card-content {
          height: calc(100% - (28px + 44px));
          overflow: overlay;
          margin: 0;

          div.chart-70 {
            height: 70%;
          }

          div.chart-80 {
            height: 84%;
          }

          div.columns {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: auto;

            p {
              text-align: center;
              margin: 0.5rem 0;
            }
            p.over-due { color: #C23F37; }
            p.due-soon { color: #F1A93B; }
          }

          p {
            margin-bottom: 0.125rem;
          }
        }

        mat-card-content.akf-content {

          display: flex;
          flex-direction: row;
          justify-content: space-between;

          mat-divider {
            margin: 0;
          }

          div.column {
            width: 30%;

            p.title {
              text-align: center;
            }

            mat-chip {
              min-height: 26px;
              padding-left: 4px;

              margin: 4px 0;

              font-size: 12px;
              font-weight: 400;

              mat-icon {
                width: 22px;
                height: 22px;
                font-size: 22px;

                margin-right: 2px;
              }

              .cobra { color: #142573; }
              .submitted { color: #F3EB98; }
              .inactive { color: #6D747C; }
              .keyed-paid { color: #73B667; }
              .needs-update { color: #F1A93B; }
              .new-incomplete { color: #6DC8F4; }
              .void-issues { color: #C23F37; }
            }
          }
        }

        mat-card-actions {
          margin: 0;
        }
      }

      mat-card.table {
        aspect-ratio: unset;
        grid-column: 1 / span 3;
        display: flex;
        flex-direction: column;

        mat-card-title-group {
          flex-shrink: 0;

          mat-card-title {
            font-size: 20px;
          }
        }

        mat-card-content {
          height: auto;

          table {
            width: 100%;

            tr.mat-header-row {
              height: 40px;
            }
          }
        }
      }
    }

  }
}