<div class="header">
  <mat-toolbar color="primary">
    Skeleton Loader
  </mat-toolbar>
</div>

<div class="content">
  <div class="items">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Catheter Removal</mat-card-title>
      </mat-card-title-group>

      <mat-card-content>

      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-stroked-button color="primary">Details</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Transpant Status</mat-card-title>
      </mat-card-title-group>

      <mat-card-content>

      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-stroked-button color="primary">Details</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>AKF</mat-card-title>
      </mat-card-title-group>

      <mat-card-content>

      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-stroked-button color="primary">Details</button>
      </mat-card-actions>
    </mat-card>
    
    <mat-card class="table">
      <mat-card-title-group>
        <mat-card-title>Work Item</mat-card-title>
        <button mat-button class="square">
          <mat-icon color="warn">close</mat-icon>
        </button>
      </mat-card-title-group>
    </mat-card>
  </div>
</div>
